body {background-color: #000;width: 800px;/* padding: 16px; */margin-left: auto;margin-right: auto;text-align: center;}
* {color: #fff; font-family: Monospace; box-sizing: border-box;}

nav {margin: 16px 0 12px; position: sticky; text-align: left;}
nav > a {display: inline-block; margin-right: 16px; font-size: 1.25em}
.flash {position: fixed; bottom: 32; right: 32px;}
.flash, .motd {color: #000; background-color: #fff; padding: 8px}

p, h1, h2, h3 {margin: 24px 0;}
li {margin-bottom: 8px; text-align: left;}
img {max-height: 100vh; max-width: 100vw; vertical-align: middle;}
input, select, textarea, button {color: #000; vertical-align: middle; resize: none;}
input[type=file] {color: #fff; background-color: #000; outline: 1px solid #fff;}
input[type=submit] {margin: 8px 0px}
table input[type=text]:user-valid {border: 2px solid #f00;}
option {color: #000;}

table {width: 100%; border-collapse: collapse; vertical-align: middle; text-align: left;}
th {font-size: 1.25em; padding: 4px; text-align: left;}
tr {line-height: 22px}
td {padding: 4px; white-space: nowrap;}
.icon {width: 20px;}
.views, .date {text-align: center;}
.size {text-align: right; width: 80px}
.preview {display: none; position: absolute; margin: 8px 0; outline: 1px solid #fff; background: #000 url('/static/img/checker.png')}
td > a:hover + .preview {display: block;}
td > input:hover + .preview {display: block;}

.columnlist {max-width: 500px; text-align: left; margin-left: auto; margin-right: auto;}
.columnlist > * {width: 150px; padding: 4px; display: inline-block; overflow: hidden; white-space: nowrap; text-align: center;}
.center {text-align: center; margin-left: auto; margin-right: auto;}
.list {width: 400px; text-align: left; margin-left: auto; margin-right: auto;}
.list li {list-style-type: none;}
.red, .red * {color: #f00;}

@media screen and (max-width: 800px) {
	body {width: 90%; padding: 16px 0px; overflow-x: hidden;}
	td input {max-width: 50vw}
	nav > a {margin-right: 8px}
	td {padding: 4px}
	.date {min-width: 0px;}
	th, .date, .views, .size {font-size: 0.8em}
}

@media screen and (max-width: 400px) {
	td {padding: 4px}
	.date, .views, .size {display: none;}
}