{% extends "base.html" %}
{% block content %}
    <h1>change login</h1>

    <form method="POST">

        <p>
            changing your username will also change the name of your personal directory!
            <br><br><span class="red">any previous links to your files will be invalidated!</span>
        </p>
        
        <label>new username: <input type="text" name="newusername" maxlength="16"></label><br><br>
        <label>new password: <input type="password" name="newpassword" maxlength="100"></label><br><br>
        
        <p>
            type your current password to confirm these actions.
            <br>you will be asked to log back in after submitting!
        </p>

        <label>current password: <input type="password" name="password" maxlength="100"></label><br><br><br>

        <input type="submit" name="CHANGELOGIN" value="update info">
    </form>

    <br><hr><br>

    <h1>delete account</h1>

    <form method="POST">
        <p class="red">use this to delete your account and all files associated with it. THIS IS PERMANENT!</p>
        <p>type "delete my account pretty please" in the box below to confirm as well as your password...</p>
        

        <br><input type="text" name="please" size="31" maxlength="31" required>
        <br><br><label>password: <input type="password" name="password" maxlength="100"></label>
        <br><br><input type="submit" name="DELETEME" value="confirm account deletion">
    </form>
{% endblock %}